.hero {
    width: 100vw;
    height: 453px;
    background-image: url("../../assets/Rectangle 1.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

.hero_inner {
    width: 100vw;
    height: 453px;
    background-repeat: no-repeat;
    background-color: #1B7A43;
    opacity: 0.9;
    padding: 87px 87px 37px 95px;
}

.hero_left {
    width: 50%;
    z-index: 100;
}

.hero_title {
    font-size: 45px;
    color: #F5F5F5;
    font-weight: 600;
}

.hero_desc {
    font-weight: 400;
    font-size: 20px;
    color: #F5F5F5;
}

.hero_btn {
    width: 300px;
    height: 55px;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 13px 25px;
    text-align: center;
    color: #1B7A43;
    font-size: 20px;
    font-weight: 500;
}

.hero_btn:hover {
    background-color: #000000;
    color: #F5F5F5;
}

.hero_right {
    width:362px;
    height: 309px;
    background-color: #1B7A43;
}

.hero-image {
    width: 362px;
    height: 309px;
    border-radius: 12px;
}

